 h4 {
      padding-bottom:20px;
 }
 
.alinearCentro { 
    text-align: center;
}

#botonAgregar {
    float: right !important;
    margin-top: 20px;
}

.checkHabilitado {
    text-align: center;
}

#scrollHoras {
max-height: 340px !important;
height: 340px !important;
overflow-y: scroll !important;
overflow-x: hidden !important;
}