#rowTopTable {
    margin-bottom: 0;
    padding-right: 11px;
}

#agregarHora {
    margin-top: 20px;
}

.scroll {
max-height: 540px !important;
height: 540px !important;
overflow-y: scroll !important;
overflow-x: hidden !important;
}

#outer {
  width: 100%;
  text-align: center;
}

#inner {
  display: inline-block;
}